<h1>Listing Authors</h1>
 
<%= link_to 'New author', new_author_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Homepage</th>
    <th colspan="2"></th>
  </tr>
 
  <% @authors.each do |author| %>
    <tr>
      <td><%= author.name %></td>
      <td><%= author.homepage %></td>
      <td><%= link_to 'Show', author_path(author) %></td>
      <td><%= link_to 'Edit', edit_author_path(author) %></td>
    </tr>
  <% end %>
</table>